.jumbotron {
	 margin-top: 20px;
  background-image: url(https://images.unsplash.com/photo-1478088913771-e3a36f50bb63?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=742a3d85cceac2dfebf0b13a7bd16816&auto=format&fit=crop&w=1093&q=80)
  background-size: cover;
  
}

